*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

:root {
    --light-color: white;
    --dark-color: rgb(16, 75, 95);
    --bar-width: 80px;
    --bar-height: 15px;
    --hamburger-gap: 10px;
    --foreground: var(--dark-color);
    --background: var(--light-color);
    --hamburger-margin: 20px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --menu-height: calc(var(--hamburger-height) + var(--hamburger-margin) *2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display:flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: 100vw;
    position:absolute;
    top: var(--hamburger-margin);
    left: calc(var(--hamburger-margin) * 0.5);
    z-index: 100;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: var(--light-color);
    --background: var(--dark-color);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content:"";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--background);
    font-size: calc(var(--bar-height)*2);
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

li {
    padding: var(--hamburger-gap);
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
opacity: 0;
width:0;
}

.dropdowncontent {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    min-width: 100vw;
    min-height: 50vh;
    position:absolute;
    z-index: 90;
}

.hamburger-menu:has(input:checked) + .dropdowncontent {
    translate: 0;
}

header.second{
    background-color: var(--light-color);
    background-image: none;
    height: var(--menu-height);
    display: block;
}

@media screen and (min-width: 1250px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .dropdowncontent {
        min-height: var(--menu-height);
        max-height: var(--menu-height);
        padding-top: 30px;
    }

    .hamburger-menu {
        width:auto;
    }
}