$bg-color1: lightblue;
$bg-color2: rgb(16, 75, 95);
$f-color1: black;
$f-color2: white;
$fontsize: 14px;
$fontfamily-text: Tahoma, serif;
$fontfamily-heading: Verdana, sans-serif;
$transistion: 200ms ease-in-out;

@mixin ord-text {
    color: $f-color1;
    font-size: $fontsize;
    font-family: $fontfamily-text;
}

body {
    background-color: $bg-color1;
    background: linear-gradient(180deg,rgba(16, 75, 95, 1) 0%, rgba(173, 216, 230, 1) 100%);
}

header {
    background-color: $bg-color1;
    background-image: url(/img/fastighet29.jpg), url(file:///Users/saraalmqvist/Documents/projektarbete/img/fastighet29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: clamp(50vh, 70vh, 100vh);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: $bg-color2;
        font-family: $fontfamily-heading;
        background-color: rgba(255, 255, 255, 0.5);
        width: fit-content;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: calc($fontsize * 2);
    }

    button {
        border: 2px solid $bg-color2;
        box-shadow: 0px 0px 2px 1px rgb(200, 200, 202);
        padding:20px;
        border-radius: 33%;
        background-color: $bg-color1;
        transition: all $transistion;

      a {
        text-decoration: none;
        @include ord-text();
        font-weight: bold;
        text-transform: uppercase;
        transition: color $transistion;
        }
    } 
}

button:hover,
button:focus-visible {
    background-color: $bg-color2;
    border: 2px solid $bg-color1;

    a {
        color: $f-color2;
    }

}


.news {
    @include ord-text();
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: baseline;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    text-align: left;
    height: clamp(20vh, 30vh, 35vh);
    

    .newsitem {
        padding: 15px;
        margin: 10px;
        border: 1px dotted $bg-color2;
        flex: 1 1 auto;
        scroll-snap-align: end;
        transition: scale $transistion;
        /* display: flex;
        flex-direction: column;
        flex-wrap: nowrap; */
        
        h2 {
            background-color: $bg-color2;
            color: $f-color2;
            padding: 10px;
            margin: 5px;
        }
    }
}

.newsitem:focus-visible,
.newsitem:hover {
    border: 2px dotted $f-color2;
    transform: scale(1.1);
}


footer {
    background-color: $bg-color2;
    color: $f-color2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 5px;

    p {
        margin: 10px;
        
        a {
            text-decoration: none;
            color: $f-color2;
        }
    }

    address {
        margin-left: 15px;
    }
}

.smalltext {
    font-style: italic;
    font-size: calc($fontsize * 0.75);
}

.smalltext::before {
    content:"Publicerades: "
}

.contactform {
    // display: none;
    border: 1px solid $bg-color1;
}