body {
  background-color: lightblue;
  background: linear-gradient(180deg, rgb(16, 75, 95) 0%, rgb(173, 216, 230) 100%);
}

header {
  background-color: lightblue;
  background-image: url(/img/fastighet29.jpg), url(file:///Users/saraalmqvist/Documents/projektarbete/img/fastighet29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: rgb(16, 75, 95);
  text-shadow: 1px 1px 2px black;
  font-family: Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 32px;
}
header button {
  border: 2px solid rgb(16, 75, 95);
  box-shadow: 1px 1px 2px 1px rgb(200, 200, 202);
  padding: 20px;
  border-radius: 33%;
  background-color: lightblue;
  transition: all 200ms ease-in-out;
}
header button a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: Tahoma, serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  text-shadow: 1px 1px 2px white;
}

button:hover,
button:focus-visible {
  background-color: rgb(16, 75, 95);
  border: 2px solid lightblue;
}
button:hover a,
button:focus-visible a {
  color: white;
  text-shadow: none;
}

.news {
  color: black;
  font-size: 16px;
  font-family: Tahoma, serif;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: baseline;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  text-align: left;
  height: 30vh;
}
.news .newsitem {
  padding: 15px;
  margin: 10px;
  border: 1px dotted rgb(16, 75, 95);
  flex: 1 1 auto;
  scroll-snap-align: end;
  transition: scale 200ms ease-in-out;
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
}
.news .newsitem h2 {
  background-color: rgb(16, 75, 95);
  color: white;
  padding: 10px;
  margin: 5px;
}

.newsitem:focus-visible,
.newsitem:hover {
  border: 2px dotted white;
  transform: scale(1.1);
}

main {
  margin: 0 auto;
}

footer {
  background-color: rgb(16, 75, 95);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 5px;
}
footer p {
  margin: 10px;
}
footer p a {
  text-decoration: none;
  color: white;
}
footer address {
  margin-left: 15px;
}

.smalltext {
  font-style: italic;
  font-size: 12px;
}

.smalltext::before {
  content: "Publicerades: ";
}

.contactform {
  border: 1px solid lightblue;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  table-layout: fixed;
  width: auto;
  margin: 10px auto;
  font-family: Tahoma, serif;
  letter-spacing: 1px;
}
table th,
table td {
  padding: 10px;
  border: 1px solid white;
}
table td {
  text-align: right;
}
table td:first-child {
  text-align: left;
}
table tbody tr:nth-child(even) {
  background-color: lightblue;
  color: black;
}
table tbody tr:nth-child(odd) {
  background-color: rgba(173, 216, 230, 0.5);
}
table thead {
  background-color: rgb(16, 75, 95);
  color: white;
  text-align: left;
}
table tfoot {
  background-color: lightblue;
  color: rgb(16, 75, 95);
  font-weight: bold;
}
table tfoot td:first-child {
  text-align: right;
}

.lghtabell td:nth-child(2) {
  text-align: left;
}

p {
  color: black;
  font-size: 16px;
  font-family: Tahoma, serif;
  letter-spacing: 1px;
}

.history {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.om {
  display: grid;
  grid-template: auto auto auto auto auto auto/1fr;
  grid-template-areas: "r" "img" "c" "tab1" "tab2" "tab3";
  gap: 10px;
  padding: 10px;
}
.om h2 {
  grid-area: r;
}
.om p {
  grid-area: c;
  align-self: center;
  letter-spacing: 1px;
  color: black;
  font-size: 16px;
  font-family: Tahoma, serif;
  letter-spacing: 1px;
  padding: 15px;
  background-color: lightblue;
  border-radius: 10px;
}
.om img {
  grid-area: img;
  justify-self: center;
  border-radius: 25%;
}
.om table.lghtabell {
  grid-area: tab1;
  align-self: start;
}
.om table.overview {
  grid-area: tab2;
  align-self: start;
}
.om table.keyvalues {
  grid-area: tab3;
  align-self: start;
}

.rules {
  text-align: center;
}
.rules h2 {
  margin-top: 48px;
}

.rubrik {
  color: white;
  text-shadow: 1px 1px 2px black;
}

h1,
h2 {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .om {
    grid-template: auto auto auto auto/1fr 1fr 1fr;
    grid-template-areas: "r r r" "img c c" "tab3 tab1 tab1" "tab2 tab1 tab1";
  }
}/*# sourceMappingURL=styles.css.map */