$bg-color1: lightblue;
$bg-color2: rgb(16, 75, 95);
$f-color1: black;
$f-color2: white;
$fontsize: 14px;
$fontfamily-text: Tahoma, serif;
$fontfamily-heading: Verdana, sans-serif;
$transistion: 200ms ease-in-out;
$columnsmall: 1fr;
$columnmedium: 1fr 1fr;
$colummlarge: 1fr 1fr 1fr;

@mixin ord-text {
    color: $f-color1;
    font-size: $fontsize;
    font-family: $fontfamily-text;
}

@mixin background-color {
    background-color: $bg-color1;
    color: $bg-color2;
}

@mixin b1-c1 {
    background-color: $bg-color1;
    color: $f-color1;
}

@mixin b2-c2 {
    background-color: $bg-color2;
    color: $f-color2;
}

body {
    background-color: $bg-color1;
    background: linear-gradient(180deg,rgba(16, 75, 95, 1) 0%, rgba(173, 216, 230, 1) 100%);
}

header {
    background-color: $bg-color1;
    background-image: url(/img/fastighet29.jpg), url(file:///Users/saraalmqvist/Documents/projektarbete/img/fastighet29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: clamp(50vh, 70vh, 100vh);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: $bg-color2;
        font-family: $fontfamily-heading;
        background-color: rgba(255, 255, 255, 0.5);
        width: fit-content;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: calc($fontsize * 2);
    }

    button {
        border: 2px solid $bg-color2;
        box-shadow: 0px 0px 2px 1px rgb(200, 200, 202);
        padding:20px;
        border-radius: 33%;
        background-color: $bg-color1;
        transition: all $transistion;

      a {
        text-decoration: none;
        @include ord-text();
        font-weight: bold;
        text-transform: uppercase;
        transition: color $transistion;
        }
    } 
}

button:hover,
button:focus-visible {
    background-color: $bg-color2;
    border: 2px solid $bg-color1;

    a {
        color: $f-color2;
    }

}


.news {
    @include ord-text();
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: baseline;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    text-align: left;
    height: clamp(20vh, 30vh, 35vh);
    

    .newsitem {
        padding: 15px;
        margin: 10px;
        border: 1px dotted $bg-color2;
        flex: 1 1 auto;
        scroll-snap-align: end;
        transition: scale $transistion;
        /* display: flex;
        flex-direction: column;
        flex-wrap: nowrap; */
        
        h2 {
            @include b2-c2();
            padding: 10px;
            margin: 5px;
        }
    }
}

.newsitem:focus-visible,
.newsitem:hover {
    border: 2px dotted $f-color2;
    transform: scale(1.1);
}


footer {
    @include b2-c2();
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 5px;

    p {
        margin: 10px;
        
        a {
            text-decoration: none;
            color: $f-color2;
        }
    }

    address {
        margin-left: 15px;
    }
}

.smalltext {
    font-style: italic;
    font-size: calc($fontsize * 0.75);
}

.smalltext::before {
    content:"Publicerades: "
}

.contactform {
    // display: none;
    border: 1px solid $bg-color1;
}

table {
    border: 1px solid $bg-color2;
    border-collapse: collapse;
    table-layout: fixed;
    width: auto;
    margin: 10px auto;
    font-family: $fontfamily-text;
    letter-spacing: 1px;

    thead {
        @include background-color();
        text-align: left;
    }
    th,
    td {
        padding: 10px;
        border: 1px solid $bg-color2;
    }
    td {
        text-align: right;
    }

    td:first-child {
        text-align: left;
    }

    tr:nth-child(even) {
        @include b1-c1();
    }

    tfoot {
        @include background-color();
        font-weight: bold;
        
        td:first-child {
            text-align: right;
        }
    }
}

.lghtabell td:nth-child(2){
   text-align: left;
}

// .gridcontainer {
//     // display: grid;
//     // grid-template: auto 2fr 2fr / 1fr 1fr 1fr;
//     // grid-template-areas: 
//     // "rubrik rubrik rubrik"
//     // "about about intro"
//     // "about about rules";
//     // gap: 15px;
// }

.history {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

.om {
    grid-area: about;
    display: grid;
    grid-template: auto auto auto auto/ 1fr 1fr 1fr;
    grid-template-areas: 
    "r r r"
    "img c c"
    "tab3 tab1 tab1"
    "tab2 tab1 tab1";
    gap: 10px;
    padding: 10px;

    h2 {
        grid-area: r;
    }
    p {
        grid-area: c;
        align-self: center;
    }
    img {
        grid-area: img;
        
    }
    table.lghtabell {
        grid-area: tab1;
        align-self: start;
    }
    table.overview {
        grid-area: tab2;
        align-self: start;
    }
    table.keyvalues {
        grid-area: tab3;
        align-self: start;
    }

    
}

.rules {
    grid-area: rules;
}

.rubrik {
    grid-area: rubrik;
    

}

h1,
h2 {
    text-align: center;
}

