$bg-color1: lightblue;
$bg-color2: rgb(16, 75, 95);
$f-color: black;
$fontsize: 14px;
$fontfamily-text: Arial, serif;
$fontfamily-heading: Georgia, sans-serif;

@mixin ord-text {
    color: $f-color;
    font-size: $fontsize;
    font-family: $fontfamily-text;
}

body {
    background-color: $bg-color1;
}

header {
    background-color: $bg-color1;
    background-image: url(/img/fastighet29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: clamp(50vh, 80vh, 100vh);
    min-width: 100%;
    
    h1 {
        color: $bg-color2;
        font-family: $fontfamily-heading;
        position: relative;
        left: 35%;
        top: 30%;
        background-color: rgba(255, 255, 255, 0.8);
        width: fit-content;
        padding: 5px;
        z-index:1;
    }

    button {
        position: relative;
        left: 50%;
        top: 50%;
        border: 2px solid $bg-color2;
        box-shadow: 0px 0px 2px 1px rgb(200, 200, 202);
    } 
}

button {
    padding:20px;
    border-radius: 33%;
    background-color: $bg-color1;

    a {
        text-decoration: none;
        @include ord-text();
        font-weight: bold;
    }
}
